.tickets-table {
  overflow: auto;
  border: 1px solid $gray-300;
  border-radius: 6px;
  width: 100%;
  display: flex;
  &-wrap {
    display: flex;
    flex-direction: column;
  }
  &-sort {
    position: relative;
    display: block;
    color: $gray-700 !important;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 7px;
      height: 7px;
      transform: translateY(-50%) rotate(-45deg);
      border: 1px solid $gray-700;
      border-width: 0 0 2px 2px;
      transition: transform .3s;
    }
    &:hover {
      text-decoration:none;
      color: $gray-700;
      &::after {
        transform: translateY(-50%) rotate(-225deg);
      }
    }
  }
  .ticket-line {
    padding: 6px 0;
    display: flex;
    &:not(:last-child) {
      border-bottom: 1px solid $gray-300;
    }
    > div {
      flex-shrink: 0;
      padding: 0 10px;
      &:not(:last-child) {
        border-right: 1px solid $gray-300;
      }
    }

    &-head {
      color: $gray-700;
      font-family: $font-family-sans-serif;
      font-weight: 600;
      > div:not(.ticket-line-type)::not(.ticket-line-key) {
        text-align: left;
      }
    }

    &-type,
    &-key {
      width: 30px;
      padding: 0 4px !important;
      text-align: center;
    }
    &-key {
      width: 90px;
    }
    &-title {
      flex: 1 1 auto;
      max-width: 330px;
      min-width: 330px;
      > span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
      }
      a {
        color: $body-color;
      }
    }
    &-name {
      width: 160px;
      color: $secondary;
      a {
        color: $secondary;
      }
    }
    &-status {
      width: 150px;
    }
    &-resolution,
    &-date {
      width: 110px;
      text-align: center;
    }
    &-action,
    &-block {
      width: 70px;
      padding: 0 5px;
      text-align: center;
      a {
        color: $gray-700;
      }
    }
  }
}
