.editor {
  select {
    min-width: 70px;
    background: none;
    border: 1px solid $gray-300;
  }
  textarea {
    font-size: 14px;
    width: 100%;
    border-radius: 2px;
    padding: 5px 10px;
    border: 1px solid $gray-300;
    &.editor-title {
      font: 500 20px/1.2 $font-family-sans-serif;
    }
  }

  &-holder {
    padding-right: 40px;
    position: relative;
    border-radius: 3px;
    svg {
      position:absolute;
      right: 5px;
      top: 50%;
      color: $gray-600;
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity .3s;
      font-size: 14px;
    }

    &:not(.readonly):hover {
      background: $gray-200;
      svg {
        opacity: 1;
      }
    }
  }
  &-btns {
    text-align: right;
    .btn {
      width: 30px;
      height: 30px;
      line-height: 28px;
      padding: 0;
    }
  }
}
